* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 
    -0   -1px 1px #FFFFFF,
    0   -1px 1px #FFFFFF,
    -0    1px 1px #FFFFFF,
    0    1px 1px #FFFFFF,
    -1px -0   1px #FFFFFF,
    1px -0   1px #FFFFFF,
    -1px  0   1px #FFFFFF,
    1px  0   1px #FFFFFF,
    -1px -1px 1px #FFFFFF,
    1px -1px 1px #FFFFFF,
    -1px  1px 1px #FFFFFF,
    1px  1px 1px #FFFFFF,
    -1px -1px 1px #FFFFFF,
    1px -1px 1px #FFFFFF,
    -1px  1px 1px #FFFFFF,
    1px  1px 1px #FFFFFF;
}

body {
  background-image: url("./assets/images/bg_pokemon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -50px;
}

.app {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
}

.filter button {
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(255, 213, 0, 0.692), rgba(170, 196, 215, 0.812));
  border-radius: 10px;
  cursor: pointer;
}

.filter button:hover {
  background-image: linear-gradient(45deg, rgba(170, 196, 215, 0.812), rgba(255, 213, 0, 0.692) );
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.444);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 250px;
  margin-bottom: 20px;
  border: 6px solid rgb(255, 213, 0);
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgba(255, 213, 0, 0.692), rgba(170, 196, 215, 0.812));
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.682);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h3 {
  margin: 10px;
}

.card button {
  border: none;
  background: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.card button:hover {
  color: rgb(87, 87, 87);
}

.card button:last-of-type {
  margin-right: 0;
}

.liked {
  color: red;
}

p {
  font-size: 30px;
}